{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} -  Accounts{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-5">
            <strong>Description: </strong>
        </div>
        <div class="col">
            <strong>Account number: </strong>
        </div>
        <div class="col">
            <strong>Sort code: </strong>
        </div>
        <div class="col col-1">
            <strong>Type: </strong>
        </div>
        <div class="col col-2">
        </div>
    </div>
    {% for account in accounts %}
    <div class="row">
        <div class="col col-5">
            <span title="{{ account.id }}">
                {{ account.description|replace(owners) }}
            </span>
        </div>
        <div class="col">
            {% if account.account_number is defined %}
                <span title="{{ account.account_number }}">
                    {{ account.account_number }}
                </span>
            {% endif %}
        </div>
        <div class="col">
            {% if account.sort_code is defined %}
                <span title="{{ account.sort_code|split('', 2)|join('-') }}">
                    {{ account.sort_code|split('', 2)|join('-') }}
                </span>
            {% endif %}
        </div>
        <div class="col col-1 col-type">
            <span title="{{ account.type }}">
                {{ account.type|slice(3) }}
            </span>
        </div>
        <div class="col col-2">
                <div class="col col-md actions">
                    <a href="{{ url('monzo_account_pots', {'accountId': account.id}) }}">Pots</a>
                </div>
            <div class="col col-md actions">
                <a href="{{ url('monzo_account_registerhook', {'accountId': account.id}) }}">Register hook</a>
            </div>
            <div class="col col-md actions">
                <a href="{{ url('monzo_account_removehooks', {'accountId': account.id}) }}">Remove hooks</a>
            </div>
                <div class="col col-md actions">
                    Sweep
                </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}